body{
    background-color:#FFF0D1;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#664343;
}
a, a:visited,a:hover{
    text-decoration: none;
    color: #3B3030;
}
a:active{
    color: #664343;
}
img{
    display:inline-block;
}
h1{
    text-align: center;
}
h1,h2,h3,h4{
    color:#3B3030;
}